@charset "utf-8";

html {
  font-size: 100%;
}
body {
  background-color: #e6e2d7;
  color: #000;
  font-family: 'Noto Serif JP', serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  color: #fff;
  text-decoration: none;
}
li {
  list-style: none;
}
/*-------------------------------------------
Header
-------------------------------------------*/



/*-------------------------------------------
Mainvisual
-------------------------------------------*/




/*-------------------------------------------
Index
-------------------------------------------*/




/*-------------------------------------------
Image
-------------------------------------------*/




/*-------------------------------------------
Detail
-------------------------------------------*/




/*-------------------------------------------
Footer
-------------------------------------------*/


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: px) {

}

